@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mulish:wght@400;700;800&display=swap");

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body{
  background: linear-gradient(rgb(253, 253, 243), rgb(241, 222, 203), rgb(212, 194, 161));
}

/* ----------------------Navbar----------------------*/

nav {
  display: flex;
  height: 80px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 248, 244);

}

.nav--logo {
  width: 55px;
    height: 50px;
    margin-bottom: 23px;

}

.nav-name {
  margin-left: 10px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------Recipes---------------*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 88vh;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: inset;
}

.recipe-card {
  height: 220px;
  display: flex;
  width: 80%;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 12px 41px rgba(92, 88, 88, 0.1);
  overflow: auto;
}

*:hover > .recipe-card:not(:hover) {
  filter: blur(3px);
}

/* IDs */
/* #soup-card, #waffel-card, #wings-card {
  height: auto;
  display: flex;
  width: auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 13px 41px #e2d9ec;
  overflow: auto;
}  */
/* trying to do the hover effect through CSS */

/* .card-text:hover, .text-bottom:hover {
  color: transparent;
  text-shadow: 0 0 3px #73746f;
 } */


/* #waffel-pic, #soup-pic, #wings-pic {
  height: 200px;
  display: flex;
  width: 60%;
  padding: 20px; 
   padding: 20px;
} */

.recipe-card:hover {
  transform: scale(1.1);
  margin-top: 30px;
  height: 30%;
  width: 110%;
  background: linear-gradient(rgb(247, 247, 241), rgb(240, 220, 164));
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.recipe-card > img {
  width: 200px;
  border-radius: 40px;
  margin: 8px;
}

.card-text {
  width: 100%;
  background-color: inherit;
  padding: 10px;
}

.text-bottom {
  font-size: 14px;
  color: gray;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.food-img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}

.subscribe-measure {
  margin-top: 100px;
}

#align-left {
  display: flex;

}
